# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Space Shooter DOTS.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\Space Shooter DOTS\.idea\.idea.Space Shooter DOTS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
